fieldset{
  padding:.65em .625em .75em;
}
body {
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 50px;
    background-color: #e6e6e6;
}
form {
    font-family: arial;
    font-size: 20px;
    background: white;

}
.alert, .btn {
    margin:auto;

}
.alert-ok {
    font-family: arial;
    background-color: #99ff99;
    margin: 20px;
    width:auto;
    font-size: 20px;
    text-align: center;
}
.alert-warning {
    background-color: #ff6666;
    margin: 20px;
    width:auto;
    text-align: center;
    font-size: 20px;
    font-family: arial;
    list-style-type: none;
}
.adjustments {
    border: 0px;
}

label, legend {
    display:block;
    margin-top:10px;

}
img {
    display: block;
    margin:auto;
    clear:right;

}
input, textarea, select {
    display:block;
    font-size: 20px;
}

input[type='checkbox'], input[type='radio'] {
    display:inline;
}

input[type='checkbox'] + label {
    display:inline;
}
h1{
    font-family: arial;
    text-align: center;
    border:none;
    margin:0px;
    background-color: white;
}

footer {
    display:block;
    font-family: arial;
    margin:auto;
    text-align: center;
}
nav {
    padding:5px;
    text-align: center;
    font-family: arial;
    background-color:darkkhaki;
    font-size: large;
}

nav ul {
    margin:auto;
    list-style-type:none;
}

nav ul li {
    display:inline-block;
    padding:10px;
}

nav ul li a:link {
    text-decoration:none;
    font-weight:bold;
    text-transform:uppercase;
}

nav ul li a:hover {
    color:white; /* flatly teel */
}
.message {
    width:100%;
    position:fixed;
    top:0;
    left:0;
    padding:5px;
    text-align:center;
    font-size:18px;
    background-color:yellow;
}

.error {
    margin-top:10px;
}

.error ul {
    list-style-type: none;
    margin:0;
    padding:0;
}
.background {
    background-color: white;
    text-align: center;
    font-family: arial;
}
.order-view {
    background-color: white;
    text-align: center;
    font-family:arial;
    padding:10px;
}
p {
    text-align: left;
    margin:auto;
    padding: 10px;
}
a:link {
    text-decoration: none;
    color: dark-blue;
}
a:link:visited {
    color: dark-blue;
}
head {
    text-align: center;
}
ul {
    list-style-type: none;
    text-align: left;
}
label {
    text-align: left;
}
